// anime.component.scss

.anime-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .anime-name {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 8px;
      color: #333;
    }
  
    .flex-container {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      justify-content: space-between;
      padding-right: 8px;
  
      .flex-column {
        display: flex;
        flex-direction: column;
      }
  
      .discount-label {
        font-weight: 600;
        font-size: 0.875rem; // 14px
        color: #ff0000; // red-500
      }
  
      .no-stock-label {
        font-weight: 600;
        font-size: 2rem; // 32px
        color: #333;
      }
    }
  }
  