<div>
  <img src="https://i.pinimg.com/originals/b8/d6/11/b8d61158584b3a846271f3213f004880.png" alt="">
  <span>¿Sigues buscando algo que ver?
    Revisa todo nuestro catálogo de animes</span>
  <a href="/lista">VER TODO</a>
</div>

<footer>
  <!-- <i [icon]="faCoffee"></i> -->

  <div class="container-footer">
    <div class="sec-footer">
      <h5>Navegacion</h5>
      <ul class="navegation">
        <li>Explorar</li>
        <li>Noticias</li>
        <li>
          <span>
            <i class="fa-solid fa-star"></i>
          
            Favoritos</span>
        </li>
      </ul>
    </div>

    <div class="sec-footer">
      <h5>Siguenos</h5>
      <ul class="contact">
        <li>
          <a href="#" target="_blank">
            <i class="fa-brands fa-youtube"></i>Youtube
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fa-brands fa-facebook"></i>Facebook
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fa-brands fa-linkedin"></i>Linkedin
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fa-brands fa-instagram"></i>Instagram

          </a>
        </li>
      </ul>
    </div>

    <div class="sec-footer">
      <h5>AnimeOli</h5>
      <ul class="animeoli">
        <li>Comienza tu Prueba Gratuita</li>
        <li>Acerca de nosotros</li>
        <li>Centro de ayuda</li>
        <li>Empleo</li>
        <li>Canjear Tarjeta Regañp</li>
      </ul>
    </div>
  </div>

  <div class="sec-footer-derechos">
    OLI PICTURES
    <br>
    CC Oli derechos, LLC
  </div>

</footer>