<h1>Seccion animes</h1>
<div class="anime-list">

  @for (anime of animes; track anime._id) {
    <div class="anime-item">
    <h3>{{anime.name}}</h3>
    <p>{{anime.description}}</p>
    <p>Likes: {{anime.quantity}}</p>
    <p><button type="button" class="btn btn-outline-primary" (click)="navegate(anime._id)">Detalles</button></p>
    <p><button type="button" class="btn btn-outline-primary" (click)="addToCart(anime)">add</button></p>
    <img src="/public/images/spotify-logo-inicio.png" alt="">
    <img src="/src/assets/spotify-logo-inicio.png" alt="">
  </div>
  }
  @empty {
    <tr>
      <td colspan="4">No hay animes para ver.</td>
    </tr>
  }
</div>